body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin{
  margin-left: 84%;
}

svg {
  position:absolute;
}

@media screen and (min-width: 480px) {
  svg:nth-child(1) {
    position: relative;
    left: 10px;
  }
}

canvas{
  font-size: 25px;
}

.growth{
  text-align: center;
}

.ig{
  text-align: center;
  font-size: 10rem;
  padding-left: 40px;
  color: #02c723;
}

.il{
  text-align: center;
  font-size: 10rem;
  padding-left: 40px;
  color: #ff0000;
}
.loss{
  text-align: center;
}

